[submodule "cppcheck_docker"]
	path = cppcheck_docker
	url = https://github.com/DLR-TS/cppcheck_docker.git
	shallow = true
[submodule "cpplint_docker"]
	path = cpplint_docker
	url = https://github.com/DLR-TS/cpplint_docker.git
	shallow = true
[submodule "adore_if_ros_msg"]
	path = adore_if_ros_msg
	url = https://github.com/DLR-TS/adore_if_ros_msg.git
	shallow = true
[submodule "external/ros-bridge"]
	path = external/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
	shallow = true
	ignore = dirty
	branch = e9063d97ff5a724f76adbb1b852dc71da1dcfeec
[submodule "plotlablib"]
	path = plotlablib
	url = https://github.com/DLR-TS/plotlablib.git
[submodule "make_gadgets"]
	path = make_gadgets
	url = git@github.com:DLR-TS/make_gadgets.git
[submodule "apt_cacher_ng_docker"]
	path = apt_cacher_ng_docker
	url = git@github.com:DLR-TS/apt_cacher_ng_docker.git
